body {
  background-color: rebeccapurple;
}

.dining-area-photo {
  width: 500px;
}

img.complimentary,
img.entree,
img.main-course,
img.desserts {
  width: 300px;
}

img.chef-info,
img.manager-info,
img.maitre-d-info {
  width: 300px;
}
